{% load staticfiles %}{% load compress %}{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{{ site.name }}
        Online Escrow Service {% endblock %} </title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description"
          content="Online Escrow Service">

    <meta name="author"
          content="Ivan Muller, 2006 - {% now 'Y' %}">

    <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

    {% compress css %}
    <link rel="stylesheet" type="text/less"
          href="{% static 'components/font-awesome/less/font-awesome.less' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'components/fancybox/source/jquery.fancybox.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css' %}"/>

    {% block extra_css %}{% endblock %}
    {% endcompress %}
    {% block extra_css_uncompressable %}{% endblock %}


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="{% static 'js/html5shiv.js' %}"></script>
    <script src="{% static 'js/respond.min.js' %}"></script>
    <![endif]-->
</head>

<body>

<div class="navbar navbar-default navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle"
                    data-toggle="collapse" data-target=".navbar-collapse">
                <i class="glyphicon glyphicon-bar"></i>
                <i class="glyphicon glyphicon-bar"></i>
                <i class="glyphicon glyphicon-bar"></i>
            </button>
            <a class="navbar-brand"
               href="/"><strong>{{ site.name }}</strong></a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class=" nav navbar-nav nav-main">

                <li>
                    <a href="{% url 'account_signup' %}"><i
                            class="glyphicon glyphicon-user"></i>Sign up</a>

                </li>
                <li>
                    <a href="{% url 'account_login' %}"><i
                            class="glyphicon glyphicon-lock"></i>Login</a>
                </li>

                <li class="hidden-md hidden-lg dropdown">
                    <a href="#" class="dropdown-toggle"
                       data-toggle="dropdown">
                        Home
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'how-it-works' %}">How It
                            Works</a></li>
                        <li><a href="{% url 'faq' %}">FAQ</a></li>
                        <li><a href="{% url 'about-us' %}">About Us</a></li>
                    </ul>
                </li>


                <li class="visible-md visible-lg"><a href="
                            {% url 'contact-us' %}">Contact
                    Us</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>

<div class="container content">
    {% bootstrap_messages %}
    {% block content %}
    {% endblock %}
</div>

<hr/>

<div class="container footer">
    <div class="row">
        <div class="col-md-12">
            <footer>
                <div id="copy">2008-{% now 'Y' %} &copy; <em>Ingenyo</em></div>
            </footer>
        </div>
    </div>
</div>

{% compress js %}
<script type="text/javascript"
        src="{% static 'components/jquery/jquery.js' %}"></script>

<script type="text/javascript"
        src="{% static 'components/bootstrap/dist/js/bootstrap.js' %}"></script>


<script type="text/javascript" src="{% static 'js/app.js' %}"></script>

<script type="text/javascript"
        src="{% static 'components/bootstrap-datepicker/js/bootstrap-datepicker.js' %}"></script>

<script type="text/javascript"
        src="{% static 'components/fancybox/source/jquery.fancybox.js' %}"></script>

<script type="text/javascript" src="{% static 'js/app.js' %}"></script>


{% block extra_js %}{% endblock %}
{% endcompress %}
{% block extra_js_uncompressable %}{% endblock %}
</body>
</html>
